body{
  font-family: 'Rubik', serif;
  color:black;
  background-color:#D8D8D8;
}
.title{
  font-size:300%;
  color:#0C090A;
  background-color:#3A5894;
}
.maths{
  
}
.sciences{
position: absolute;top:100%;

}
.other{
position:absolute;top:100%;

}
.btn{
  border-radius:20px;
  text-align:center; 
}
.btn-algebra{
background-color: #66ccff;
}
.btn-trig{
background-color: #3399ff;
}
.btn-calc{
background-color:#0066cc;
}
.btn-purple{
  background-color:#DA70D6;
}
.btn-beige{
  background-color:#f5f5dc;
}
h3{
text-decoration:underline solid#3A5894;
}
.silly-border{
  background-color:#3A5894;
  height:200vw;
  width:.25vw;
  margin-left:3vw;
  margin-right:2vw;
}

.text-area{

}
